
     */
     .body{
       
        background-color: white;
        display: flex;
        align-items: center;
        flex-direction: column;
        font-family: 'Courier New', Courier, monospace;
      
    }
    .row{
        width: 80%;
        height: 80vh;
        margin: 450px;
        padding: 100px;
    }
    .left_part{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .right_part{
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 15%;
        width: 70%;
        color: white;
        background-color: pink;
        border-radius: 10px;
    }
    .container h4{
        margin: 10px 0px;
    }
    
    .select{
        display: flex;
        width: 50%;
        justify-content: space-around;
    }
    .calculate{
        background-color: white;
        color: green;
        border-radius: 6px;
    
    }
    #bmi_result{
        margin-top: 10px;
    }
    .gap{
        margin-top: 10px;
    }
    .h1{
        color: blue !important;
    }
    .age{
        float: right 10px !important;
    }